*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: url(./images/images.jpeg) no-repeat ;
    color:#000;
    align-items: center;
    
}

#box{
    background-color: grey;
    margin: auto;
    width: 300px;
    padding: 20px;
}
/* Rgistartion style*/
.registration-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;

}
.registration-form h1{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
}
.registration-form p{
    font-size: 20px;
    margin: 15px 0;

}
.registration-form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
    
}
.registration-form button{
    font-size: 16px;
    padding: 15px 10px;
    border: 0;
    border-radius: 5px;
    margin: 15px 0;
    background-color: blueviolet;
    color: #fff;
}

.registration-form button:hover{
    background-color: rgb(131, 2, 252);
}
.signIn{
   justify-content: end;
}